body {
    margin: 70px; 
    background-color: black ;
    color: white;
}

table{
    width: 100%;
    text-align: center;
    border-collapse: collapse   ;
}

th, td {
    border: 1px solid white;
}  